.container {
  display: block;
  width: 100%;
  
}

.ball {
  background-color: red;
  border-radius: 50%;
  height: 7px;
  width: 7px;
}

@mixin on-circle($item-count, $circle-size) {
  position: relative;
  width: $circle-size;
  height: $circle-size;
  list-style: none;

  > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    $angle: (360 / $item-count);
    $rot: 0;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg)
          translate($circle-size / 2)
          rotate($rot * -1deg);
      }

      $rot: $rot + $angle;
    }
  }
}

.circle-clock {
  @include on-circle($item-count: 48, $circle-size: 28em);
  margin: 5em auto 0;  
 /*  border-radius: 100%;
  border: 40px solid lightgrey; */
}
