.zarc {
  padding: 20px 20px 20px 20px;
}

.container-month {
  position: absolute;
  width: 100%;
}

.border {
  display: flex;
  position: absolute;
  width: 492px;
  height: 482px;
  box-sizing: border-box;
  border-radius: 100%;
  border: 40px solid white;
  margin: -15px -15px 0;
  align-items: center;
}

.labels {
  width: 100%;
}

.title {
  color: #005aa5;
  font-family: "Geomanist";
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 0.07px;
  line-height: 25px;
  text-align: center;
}

.subtitle {
  color: rgba(0, 0, 0, 0.54);
  font-family: "Geomanist";
  font-size: 10.8px;
  letter-spacing: 0.23px;
  line-height: 18px;
  text-align: center;
}

.ball {
  border-radius: 50%;
  height: 10px;
  width: 10px;
}

.red {
  background-color: red;
}

.green {
  background-color: #00A338;
}

.blue {
  background-color: #005AA5;
}

.orange {
  background-color: #FFB300;
}

.yellow {
  background-color: #FFEE02;
}

@mixin on-circle($item-count, $circle-size, $width, $height) {
  width: $width;
  height: $height;

  > * {
    font-size: 14px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    $angle: (360 / $item-count);
    $rot: -90;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg)
          translate($circle-size / 2)
          rotate($rot * -1deg);
      }

      $rot: $rot + $angle;
    }
  }
}

.circle-months {
  @include on-circle(
    $item-count: 12,
    $circle-size: 32em,
    $width: 430px,
    $height: 435px
  );
  position: absolute;
}

.circle-days {
  @include on-circle(
    $item-count: 48,
    $circle-size: 32em,
    $width: 450px,
    $height: 445px
  );
  position: absolute;
}
